NODE_ENV="developer"
PORT=3000

DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=Aivacol@123
DB_DATABASE=aivacol_fleet

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=300
